.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid
}

.nav-item{
    margin-right: 50px;
}

input{
    height: 20px;
}

ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}

.li{
    text-decoration: none;
    color: rgb(37, 78, 193);
}