.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid
}
input{
    height: 20px;
}